<!DOCTYPE html>
<html>
<head>
<title><%=title%></title>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>