<!DOCTYPE html>
<html>
<head>
<title><%=title%></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
<div class="container">
  <div class="panel panel-default margin-top-20">
        <div class="panel-heading">
          <h2>Namcha </h2>
        </div>
        <div class="panel-body">
 
  <div class="">
    <form id="formEmail" class="form-horizontal" >
      <div class="form-group">
        <label for="inputTo" id="lblInputTo" class="col-sm-2 control-label">To</label>
        <label for="inputTo" class="col-sm-1 control-label">:</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="inputTo" name="to" placeholder="To" onkeyup="checkValidEmailForm()" data-trigger="manual"
          data-placement="bottom" data-content="กรุณาระบุผู้รับไม่เกิน 50 อีเมลล์.">
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#recipientsModal">
            <span class="glyphicon glyphicon-user" id="spIconUser" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div class="form-group">
        <label for="inputTopic" id="lblInputTopic"  class="col-sm-2 control-label">Topic</label>
        <label for="inputTopic" class="col-sm-1 control-label">:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputTopic" name="topic" placeholder="Topic" onkeyup="checkValidEmailForm()" data-trigger="manual"
           data-placement="bottom" data-content="กรุณากรอกหัวข้อไม่เกิน 500 ตัวอักษร.">
        </div>
      </div>
      <div class="form-group">
        <label for="inputBody" id="lblInputBody" class="col-sm-2 control-label">Body</label>
        <label for="inputBody" class="col-sm-1 control-label">:</label>
        <div class="col-sm-8">
          <textarea class="form-control" id="inputBody" name="body" rows="12" max-length ="5000" onkeyup="checkValidEmailForm()" data-trigger="manual"
          data-placement="bottom" data-content="กรุณากรอกข้อความไม่เกิน 5000 ตัวอักษร."></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <button type="button" id ="buttonSend" class="btn btn-default pull-right" disabled="disabled" onclick="sendClick()">Send</button>
        </div>
      </div>
    </form>
  </div>
        </div>

      </div>

</div>

<!-- Modal -->
<div class="modal fade" id="recipientsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <recipientmanager title="Recipients"></recipientmanager>
      </div>
    </div>
  </div>
</div>

<script type="riot/tag" src="/public/tags/recipientmanager.tag"></script>
<script type="riot/tag" src="/public/tags/delim_text.tag"></script>
<script src="/bower_components/riotjs/riot+compiler.min.js"></script>
<script src="/bower_components/riotcontrol/riotcontrol.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/is_js/is.min.js"></script>
<script src="/bower_components/ckeditor/ckeditor.js"></script>
<script src="/public/js/recipients_app.js"></script>
<script src="/public/js/recipientstore.js"></script>
<script src="/public/js/recipient_api.js"></script>
<script src="/public/javascript/index.js"></script>
<script src="/public/javascript/ckeditor_config.js"></script>

<script>
  // Maybe not the best place for this setup code??
  var recipientStore = new RecipientStore(new RecipientAPI()) // Create a store instance.
  RiotControl.addStore(recipientStore) // Register the store in central dispatch.
  var recipientsApp = new RecipientsApp()
  riot.mount('recipientmanager', recipientsApp)
  $('#recipientsModal').on('shown.bs.modal', recipientsApp.focusAddField)
</script>

<script>

  var sendEmailUrl = '/api/<%=sendEmailUrl%>/email'
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>
<script src="/public/javascript/index.js"></script>

</body>
</html>
