<!DOCTYPE html>
<html>
<head>
<title><%=title%></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

<recipientmanager title="Recipients"></recipientmanager>

<script type="riot/tag" src="/public/tags/recipientmanager.tag"></script>
<script type="riot/tag" src="/public/tags/delim_text.tag"></script>

<script src="/public/js/recipients_app.js"></script>
<script src="/public/js/recipientstore.js"></script>

<script src="/bower_components/riotjs/riot+compiler.min.js"></script>
<script src="/bower_components/riotcontrol/riotcontrol.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script>

	var recipientStore = new RecipientStore() // Create a store instance.
	RiotControl.addStore(recipientStore) // Register the store in central dispatch.

  var recipientsApp = new RecipientsApp()
	riot.mount('recipientmanager', recipientsApp)

</script>

</body>
</html>